<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>

<init-param>
<param-name>driver</param-name>
<param-value>oracle.jdbc.driver.oracleDriver</param-value>
</init-param>


<init-param>
<param-name>url</param-name>
<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
</init-param>


<init-param>
<param-name>uname</param-name>
<param-value>system</param-value>
</init-param>

<init-param>
<param-name>pwd</param-name>
<param-value>system</param-value>
</init-param>

<servlet-name>sone</servlet-name>
<jsp-file>/Sconfig.jsp</jsp-file>
</servlet>
<servlet-mapping>
<servlet-name>sone</servlet-name>
<url-pattern>/config</url-pattern>
</servlet-mapping>
</web-app>